@media(max-width: 877.99px) {
   .stack {
      opacity: 1;
   }

   .stack__items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
   }

   .stack__img {
      width: 200px;
      height: 200px;
   }

   .contacts {
      opacity: 1;
   }

   .footer {
      margin-top: 90px;
   }
}

@media(max-width: 623.99px) {
   .header__container {
      flex-direction: column;
      justify-content: center;
   }

   .header__logo {
      margin: 0 0 10px 0;
   }

   .header__list li {
      margin: 0 0 0 35px;
   }

   .stack {
      margin-top: 90px;
   }

   .info {
      margin-top: 50px;
   }

   .info__body {
      font-size: 18px;
      line-height: 28px;
   }

   .contacts {
      margin-top: 60px;
   }

   .contacts__items {
      flex-direction: column;
      margin-top: 50px;
   }

   .contacts__item {
      justify-content: unset;
      margin-bottom: 23px;
   }

   .footer {
      margin-top: 50px;
   }
}